body {
  font-family: "Raleway", sans-serif;
  border: 7px black dotted;
  background-color: rgb(181, 181, 240);
}
.heading {
  font-size: 30px;

  width: 100%;
  box-shadow: 5px 5px 20px blue;
}
#mainHead {
  background-color: rgb(0, 0, 100);
  color: white;
}
.divHead {
  background-color: lightblue;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 5px 5px 20px blue;
  color: black;
  float: none;
}
.footer {
  background-color: lightblue;
  line-height: 40px;
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  bottom: 0;
  font-weight: bolder;
}
canvas {
  border: 5px black double;
  margin-top: 370px;
  box-shadow: 5px 5px 20px blue;
  border-radius: 25px;
  background-color: whitesmoke;
}
#objects {
  background-color: rgb(162, 162, 209);
  border-radius: 25px;
  padding: 10px;
  width: 45%;
}
.colorButton {
  background-color: rgb(156, 221, 226);
  color: black;
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
  border: black 5px solid;
}
